@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Our Hospital</h1>
    <div class="d-flex flex-column justify-content-center align-items-center gap-2">
        <span>
            Thank you for choosing our hospital for your healthcare needs.
        </span>
        <span>
            Here, we strive to provide the highest quality medical care to our patients
        </span>
        <span>
            Learn more about our services and specialties:
        </span>
    </div>
    <div class="d-flex flex-column justify-content-center align-items-center gap-2 mt-2">
        <span class="border border-dark rounded-2 w-100 p-2">
            Internal Medicine
        </span>
        <span class="border border-dark rounded-2 w-100 p-2">Pediatrics</span>
        <span class="border border-dark rounded-2 w-100 p-2">Surgery</span>
    </div>
    <p>If you have any questions or need assistance, please don't hesitate to contact us.</p>
</div>
